<div style="float: left">
  <img src="https://picsum.photos/id/{{user.id+10}}/200/300" alt="Card image cap">
</div>
<div class="list-group">
  <a  class="list-group-item list-group-item-action flex-column align-items-start ">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Username</h5>
    </div>
    <p class="mb-1">{{user.username}}</p>
  </a>
  <a  class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Name</h5>
    </div>
    <p class="mb-1">{{user.name}}</p>
  </a>
  <a  class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Email</h5>
    </div>
    <p class="mb-1">{{user.email}}</p>
  </a>
  <a  class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Phone</h5>
    </div>
    <p class="mb-1">{{user.website}}</p>
  </a>
  <a  class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Website</h5>
    </div>
    <p class="mb-1">{{user.website}}</p>
  </a>
  <a class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Account type</h5>
    </div>
    <p class="mb-1">{{user.account_type}}</p>
  </a>
</div>
