.home{
  width:100%;
  background-image: url('../Daniel-Kordan-landscape-sky-mist-mountains-Mount-Fuji-1929647-wallhere.com.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding-top: 10%;
  padding-bottom: 30%;
}
